[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==1.15"
umap-learn = "*"
visdom = "*"
librosa = ">=0.5.1"
numpy = ">=1.14.0"
scipy = ">=1.0.0"
tqdm = "*"
sounddevice = "*"
inflect = "*"
multiprocess = "*"
numba = "==0.48"
SoundFile = "*"
Unidecode = "*"
PyQt5 = "*"
torch = "*"
torchvision = "*"
webrtcvad = "*"
matplotlib = "==3.2.2"

[requires]
python_version = "3.7"
